*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

p{
    color: red;

}


h1{
    color: red; 
    font-size: 60px;
    margin-bottom: 0px;
    text-shadow: -1px 1px 4px black;
    
    
}

h2{
    font-size: 14px;
    text-align: center;
    font-weight: 0;
    
    
}

h3{
    font-size:74px;
    margin-bottom: 0px;
}

body{
   
    /* background-image: url("http://cronodon.com/images/Conjunction_b.jpg"); */
    
    margin: 0 auto;

}


.container{
    max-width: 800px;
    width:100%;
    margin: 0 auto;
}
.frontPage{
   
    width:100%;
    /* border: 1px solid black; */
    
    
}

.frontPage .welcSign{
    display:flex;
    justify-content: center;
    width:100%;
    
    
}
.frontPage .welcSign h1{
    
    display: flex;
    justify-content: center;
    width:80%;
    height:100%;
    animation-name: welcSign;
    animation-duration: 15s;
    /* animation-delay:.1s; */
    position:relative;
    animation-iteration-count: infinite;

}

.frontPage h2{
    font-size: 2rem;
    display:flex;
    justify-content: center;
    width: 100%;
}
.frontPage h3{
    
    display: flex;
    justify-content: center;
    width:100%;
    

}


.frontPage .buttons{
    width:100%;
    display: flex;
    font-size: 3rem;
    
    
}

iframe{
    display: none;
    margin-left:0%;
    
}
.frontPage .imagee{
    display:flex;
    width:100%;
    justify-content: center;
}

img{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    
    margin-top: 60px;
    
    

}

.buttons{
    
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    
    display:bottom;
    margin-top: 120px;
    
    
}

.buttons h2:hover{
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;

}


.buttons button{
    color:white;
    width: 94px;
    height: 40px;
    display: center;
    margin-top: 40px;
    padding: 0px;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
      
    box-shadow: -1px 1px 6px grey;
   
}

div button a{
    text-decoration: none;
    color: inherit;
   
}

div button h2{
    text-align: center;
    
}

div .box1{
    background-color: black; 
    border: 1px solid black;
    

}
    
div .box2{
    background-color: black;
    border: 1px solid black;
    
    

}

div .box3{
    background-color: black;
    border: 1px solid black;
   
}



/* The element to apply the animation to */


@keyframes welcSign  {
    /* 0%   {color:white; left:0px; top:0px;} */
    20%   {color:white; left:0px; top:0px;}
    40%  {color:white; left:10%; top:130px;}
    40.5%   {color:red; left:10%; top:130px;}
    41%   {color:white; left:10%; top:130px;}
    59%  {color:white; left:-10%; top:130px;}
    59.5% {color:red; left:-10%; top:130px;}
    60% {color:white; left:-10%; top:130px;}
    80% {color:white; left:0%; top:0px;}
    100% {color:red; left:0px; top:0px;}
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
 
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
  
    70% { transform: translate(3px, 1px) rotate(-1deg); }
   
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}