.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1080px;
  width:100%;
  font: Didot;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  
  
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
 background-color: white;
  
}

.App-title {
  font-size: 5.5em;
  margin-top: 50px;
  color: black;
  font: Helvetica;
}

.App-subtitle {
  font-size: 2.5em;
  margin-top: 50px;
  margin-bottom:50px;
  color: black;
  font: Helvetica;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.infinite{
  margin-top: 180px;
  margin-bottom:80px;
  width:15%;
  animation: App-logo-spin infinite 20s linear;
}

.gif{
  margin-top: 20px;
  margin-bottom: 20px;
  width:70%;
}

.gifone{
  margin-top: 20px;
  margin-bottom: 20px;
  width:80%;
}

.btn{
  display: flex;
  justify-content: space-evenly;
  width:100%;
  margin-top: 0px;
}

.homepage{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home{
  display: flex;
  justify-content: center;
  align-content: center;
  width:80%;
  margin-top: 0px;
  background-image: url("./4795545136_IMG_0989.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 300px;
}

@media screen and (max-width: 1080px) {
  .home{
    width: 100%;
    background-image: url("./huff.jpg");
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2%;
  }
}
.homeContent{
  color: white;
}
@media screen and (max-width: 1080px) {
  .homeContent{
    font-size: 14px;
    display: flex;
  justify-content: center;
  align-content: center;
  width: 140%;
  }
}

.resume{
  width: 70%;
}
.resumeimg{
  position: relative;
  right: -15%;
}

.contact{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}
.aboutcontainer{
  width: 80%;
}
.aboutcontain{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.aboutheader{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}
.gifcontainer{
  position: relative;
  right: -50px;
}
.projectcontainer{
  width: 100%;
}
.projectcontains{
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.projectcontainers{
  display: flex;
  justify-content: center;
}
.gifhere a{
  text-decoration: none;
}
.projectTitle{
  text-decoration: underline;
}
.line {
  border-width: 3px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
  opacity: .5;
}

.info{
  display: flex;
  flex-direction: column;
  font-size: 24px;
  position: relative;
  top: -170px;
  /* left: 430px; */
  align-items: center;
  width: 100%;
  margin-left: 50%;
}

@media screen and (max-width: 1080px) {
  .info{
    width:80%;
    position: relative;
    right: 20%;
  }
}


.about{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  align-items: center;
}

.aboutme{
  display: flex;
  font-size: 24px;
  margin-right: 0%;
  width: 96%;
  align-content: center;
  opacity: .6;
}
.aboutmelist{
  opacity: .6;
}

.sociallink{
  color: white;
}

@media screen and (max-width: 1080px) {
  .socials{
    width: 85%;
  }
}

.sociallink:hover {
  opacity: .4;
  position: relative;
  top: -5px;
}
.resumecontain{
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
  flex-direction: column;
}
.resumecontains{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.resumecontainer{
    width: 80%;
  }
button{
  width:200px;
  height:50px;
  font-size: 2em;
  border-radius: 0%;
}

body {
  padding: 20px;
  margin: 0;
 /* background-image: url("./0_HICLyAdNSIyT0ODU.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */ 
}
h1, h2, p, ul, li, a {
  font-family: Didot;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 96.8%;
  z-index: 100;
  top: 0px;
  box-shadow: 0 0 5px;
  
}

@media screen and (max-width: 1080px) {
  ul.header {
    width: 80%;
    margin-left: 9%;
  }
}

@media screen and (max-width: 620px) {
  ul.header {
    width: 80%;
    font-size: 12px;
    position: relative;
    left: 5%;
  }
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
ul.header li a:hover {
  opacity: .4;
  position: relative;
  top: 3px;
}

.content {
  padding: 20px;
  width: 96.8%;
  margin-top: 50px;
}

@media screen and (max-width: 1080px) {
  .content{
    margin-top: 5%;
  }
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}